.box {
  text-align: center;
  font-size: 14px;
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(84, 139, 12),
    rgb(26, 97, 131)
  );
  /* border:1px solid black; */
}

.logo {
  width: 140px;
  height: 35px;
  /* margin: auto; */
  /* margin-left: 10%; */
}

.iconbtn {
  margin-right: 25px;
  margin-left: -20px;
}

.kimayelogo {
  width: 100%;
  display: flex;
  justify-content: end;
  /* border: 1px solid red; */
  list-style-type: none;
  align-items: center;
}

.firstdiv {
  width: 30%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.Right_box {
  display: flex;
}

.bag_logo {
  width: 100%;
  height: 21px;
}


.abc {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.btn_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .map_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
} */

.upper_box {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: black;
}

sup{
  margin-left: -20px;
}

.cart_drawer_heading{
  background-color: black;
  color: white;
  font-weight: bolder;
  height: 200px;
}