.searchInputs {
  display: flex;
  justify-content: center;
  width: 150px;
  background-color: rgb(236, 236, 236);
  border-bottom: 1px solid grey;
  border-radius: 0;
  margin-top: 25px;
}
.searchInputs:hover{
  width:100%;
  transition: .5s;
}

.searchInput {
  border: 0;
  background-color: rgb(236, 236, 236);
}
.searchInput:focus {
  background-color: rgb(236, 236, 236);
  border-color: grey;
}
.searchIcon {
  /* width: 50px;
  height: 30px; */
  margin: 0;
  margin-top: 5px;
  background-color: rgb(236, 236, 236);
  /* display: grid; */
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
  color: black;
}

.display-none {
  display: none;
}

.dataResult {
  position: absolute;
  width: 300px;
  background-color: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 2;
  margin-top: 11.5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dataResult .dataItem {
  width: 90%;
  margin: auto;
  /* height: 50px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  border-bottom: 1px solid;
  font-size: 14px;
}

.dataItem p {
  margin-left: 10px;
}

.dataItem_img {
  display: flex;
  align-items: center;
  width: 20%;
  height: 100%;
}
.dataItem p:hover{
  color: rgb(109, 151, 9);
  transition: .2s;
}

.dataItem_content {
  width: 70%;
}

.dataItem_img img {
  width: 100%;
  height: 100%;
}

#clearBtn {
  cursor: pointer;
  width: 25px;
  color: black;
  z-index: 2;
}

.dataItem_name {
  cursor: pointer;
}
